

.LoginFormBox{
    border-color: whitesmoke;
    background-color: tomato;
    /* margin-top: 10%; */
    /* position: absolute;  */
    /* top: 20% ;  */
    /* left:35%;    */
     /* transform: translate(-50%,-50%);  */
    width: 30%;
    height: 550px;
    border-radius: 15px;
    
    /* border: solid; */

    /* margin: auto; */

    
    display: flex;
    flex-direction: column;
    display: block;
    /* justify-content: center; */
    align-items: center; 
    text-align: center;

}
#root{
    height: 100%;
}
html, body, .LoginPage {
    height: 100vh
  }
.LoginPage{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    /* align-self: center; */
    /* margin-top: auto; */
}
/* #LoginForm{ */
    /* margin: auto; */
    /* margin:auto; */
    /* align-content: ; */
    /* display: inline-block; */
    /* margin-top: 5%; */
/* } */

#passwordBox{
    /* display: flex; */
    display: inline-flex;
    text-align: center;
    width: 100%;
    /* margin: auto; */
    padding-left: 20%;
}
#toggleHidden{
    /* margin-top: 20px; */
    /* padding-top: 10px; */
    /* border-left: solid; */
    height: 20px;
    background-color: transparent;
    border: transparent;
}
#hiddenEye{
    /* margin-top: 10px; */
    /* padding-top: 10px; */
    /* border-left-color: tomato;
    border-left: tomato; */

    margin-left: -40px;
    margin-top: 3px;
}
#toggleHidden:focus{outline: 0;}

#Header{
    margin-top: 20%;
}
#LoginButton{
    /* border-radius: 5px; */
    border:transparent;
    background-color:aqua;
    border: solid;
    height:40px;
    width:80px;
    margin-top: 25px;
    border-radius: 15px;

}
#LoginInput{
    border-radius: 5px;
    border: transparent;
    border: solid;
    height: 30px;
    width: 60%;
    /* margin-top: -10px; */
    /* padding-top: -10px; */
}
.Link{
    text-decoration:none;
}
@media screen and (max-width: 1000px){
    .LoginFormBox{
        /* position: relative; */
        top:20%;
        left:25%;
        /* height: 100%; */
        width: 50%;
    }

}
@media screen and (max-width: 600px){
    .LoginFormBox{
        /* position: relative; */
        /* top:0%;
        left:0%; */
        margin-top: 0;
        margin: 0;
        height: 100%;
        width: 100%;
    }
    #LoginInput{
        width: 80%;
        /* margin-top: -10px; */
        /* padding-top: -10px; */
    }
    #passwordBox{
        
        padding-left: 10%;
    }
    
    /* #LoginInput{
        width: 100%;
    } */
    /* #LoginForm{
        width: 100%;
    } */
    
    #Header{
        margin-top: 40%;
    }


}
